.interna-portfolio {
  background: url("../img/bg-portfolio.jpg") no-repeat center;
  background-size: cover;
}

.quote-clientes {
  padding: 40px 0px;
  max-width: 400px;
  margin: 0px auto;
}

.quote-clientes p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-style: italic;
  line-height: 25px;
  text-align: center;
}

.quote-clientes cite {
  font-size: 18px;
  font-weight: bold;
  float: right;
  font-style: normal;
  padding: 10px 20px;
}
